<div class="container" >
    <h1 style="font-weight: bold;">Awesome Bike Rental</h1>
    <br>
    <h4 style="font-weight: bold;"> 🤑 Create new rent</h4>
    <table class="col-sm-12">
        <tbody>
            <tr>
                <td class="col-sm-4">
                    <label for="name">Bike name</label>
                    <input class="form-control" id="name" [(ngModel)]="name" placeholder="Name" />
                </td>
                <td class="col-sm-4">
                    <label for="name">Bike type</label>
                    <input class="form-control" id="type" list="typesOfbikes" [(ngModel)]="type" placeholder="Custom" />
                    <datalist id="typesOfbikes">
                        <option value="Racing">
                        <option value="Mountain">
                    </datalist>
                </td>
                <td class="col-sm-2">
                    <label for="price">Bike price</label>
                    <input type="number" class="form-control" id="price" [(ngModel)]="price" min="0.0" max="100" step="0.5" />
                </td>
                <td class="col-sm-2">
                    <label for="submit"></label>
                    <button class="btn btn-success btn-sm btn-block" id="submit" (click)="createBike(name, type, price)">Submit rent</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br>
    <h4 style="font-weight: bold;"> 🤩 Your rent (Total: {{calculateTotalSum()|currency}})</h4>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let bike of bikesAreRenting">
                <td class="col-sm-10">&nbsp;{{bike.bicycleName}} &#47; {{bike.bikeType}} &#47; {{bike.price|currency}}</td>
                <td class="col-sm-2"><button class="btn btn-danger btn-sm btn-block" (click)="initStart()">Cancel rent</button></td>
            </tr>
        </tbody>
    </table>
    <h4 style="font-weight: bold;"> 🚲 Available bicycles ({{bikesForRent.length}})</h4>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let bike of bikesForRent">
                <td class="col-sm-8">{{bike.bicycleName}} &#47; {{bike.bikeType}} &#47; {{bike.price|currency}}</td>
                <td class="col-sm-2"><button class="btn btn-primary btn-sm btn-block" (click)="initStart()">Rent</button></td>
                <td class="col-sm-2"><button class="btn btn-danger btn-sm btn-block" (click)="initStart()">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>




